<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>ValidarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarOperacion</servlet-name>
        <servlet-class>ValidarOperacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarOperacion1</servlet-name>
        <servlet-class>ValidarOperacion1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarClave</servlet-name>
        <servlet-class>CambiarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarClave</servlet-name>
        <servlet-class>GenerarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUsuario</servlet-name>
        <servlet-class>LogoutUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/ValidarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarOperacion</servlet-name>
        <url-pattern>/ValidarOperacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarOperacion1</servlet-name>
        <url-pattern>/ValidarOperacion1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarClave</servlet-name>
        <url-pattern>/CambiarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarClave</servlet-name>
        <url-pattern>/GenerarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUsuario</servlet-name>
        <url-pattern>/LogoutUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
